<div>
    <div class="container">
        <div class="row py-3">
            <div class="mx-auto col-12">
                <%= link "Template 1", to: Routes.resume_path(@conn, :show, 1),  class: "btn btn-primary mt-3" %>
            </div>
        </div>
    </div>
</div>
