<%= form_for @changeset, Routes.work_path(@conn, :update, @work.id), fn f -> %>

  <%= label f, :name %>
  <%= text_input f, :name%>
  <%= error_tag f, :name %>
  
  <%= label f, :start_date %>
  <%= text_input f, :start_date, class: "form-control", type: "date" %>
  <%= error_tag f, :start_date %>



  <%= label f, :end_date %>
  <%= text_input f, :end_date , class: "form-control", type: "date" %>
  <%= error_tag f, :end_date %>

 <%= submit "Update" %>

<% end %>
