<%= form_for @changeset, Routes.skill_path(@conn, :create), fn f -> %>

  <%= label f, :name %>
  <%= text_input f, :name%>
  <%= error_tag f, :name %>
  

  <%= label f, :level %>
  <%= select f, :level, ["Daily experience": 1, "Experienced": 2, "Used in the past": 3, "Interests and Curiosity": 4]%>
  <%= error_tag f, :level %>


 <%= submit "Create" %>

<% end %>
 