<%= form_for @changeset, Routes.skill_path(@conn, :create), fn f -> %>

  <%= label f, :name %>
  <%= text_input f, :name%>
  <%= error_tag f, :name %>
  

  <%= label f, :level %>
  <%= text_input f, :level %>
  <%= error_tag f, :level %>


 <%= submit "Create" %>

<% end %>
 