<%= form_for @changeset, Routes.language_path(@conn, :update, @language.id), fn f -> %>

  <%= label f, :name %>
  <%= text_input f, :name%>
  <%= error_tag f, :name %>

  <%= label f, :fluency %>
  <%= text_input f, :fluency%>
  <%= error_tag f, :fluency %>

 <%= submit "Update" %>

<% end %>
