<%= form_for @changeset, Routes.language_path(@conn, :create), fn f -> %>

  <%= label f, :name %>
  <%= text_input f, :name%>
  <%= error_tag f, :name %>
  

  <%= label f, :fluency %>
  <%= select f, :fluency, ["Proficience": 1, "Intermediate": 2, "Beginnner": 3]%>
  <%= error_tag f, :fluency %>



 <%= submit "Create" %>

<% end %>
 